
.page-content {
  text-align: center;  /* Center align all content */
  margin-top: 50px;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-details p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.contact-details a {
  color: #0077b5; /* LinkedIn blue */
  text-decoration: none;
  position: fixed;
}

.contact-details a:hover {
  text-decoration: underline;
}

hr {
  border: none;             /* Remove default styling */
  border-top: 2px solid rgb(104, 100, 100); /* Blue color line */
  width: 50%;               /* Shorter width */
  margin: 20px auto;        /* Space around the line */
}

body{
  background-color: rgb(243, 242, 239);
}